* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212737;
    color: white;
    width: clamp(500px, 65%, 1300px);
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;

    align-items: center;

    border-bottom: solid 1px #f67634;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 20px;
}


nav img {
    background-color: aliceblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    
}

a:hover {
    color: #f67634;
    transition: all 0.3s;
}

.content {
    padding-top: 5%;
    padding-bottom: 5%;
}

.header {
    display: flex;
}



iframe {
    height: 100px;
    width: 330px;
    border: hidden;
}

iframe:hover {
    transform: scale(1.02);
    transition: all 0.3s;
}

.gh-button p {
    padding-left: 5px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.ghi {
    padding: 2px;
    background-color: #151515;
    border-radius: 25%;
}

.gh-button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #151515;
    font-size: 1.25em;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.gh-button:hover {
    text-decoration: none;
    background-color: rgb(173, 205, 230);
    transition: all 0.3s;
    transform: scale(1.1);
}

.gh-button:visited {
    text-decoration: none;
}

.badge {
    text-decoration: none;
    font-weight: bold;
}

.badge p:hover {
    text-decoration: none;
    transition: all 0.3s;
    transform: scale(1.1);
}

.badge:visited {
    text-decoration: none;
}

.sscp {
    color: #f67634;
}

.soc img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.footer {
    border-top: solid 1px #f67634;
    height: 80px;
}

